@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #18181B;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bfa251;
    border-radius: 10px;
  }

